*{
  box-sizing: border-box;
}

/* navigation bar*/
.nav{
 display: inline-block;
 position: sticky;
 top:0;
 list-style-type:none;
 margin: 0;
 padding: 0;
 height:65px;
 overflow: visible;
 background-color:rgba(60,9,108,.9);
 border-radius:5px;
}
.activenav{
  font-weight: bolder;

}
/* container*/
.container{
  margin-left: 40px;
  margin-right: 40px;
}

/* Jumbotron */
.jumbotron{
  background-color:#ecf8f8;
}
